# =================================================================
# Jorge Aguirre Flores Web - DEVELOPMENT REQUIREMENTS
# =================================================================

-r requirements.txt
-r requirements/dev.txt
